* {
  box-sizing: border-box;
  background-color: rgb(244, 244, 244);
  color: #333;
  font-size: 10px;
}

/* app */

.App {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
}

/* Search */
.title {
  padding: 2rem;
  text-align: center;
  font-size: 4.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 5rem;
}

.form {
  flex: 50%;
}

.label {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 1rem;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

/* SearchResults */
.results-container {
  display: flex;
  flex-flow: row wrap;
}

.results {
  flex: 2;
  height: 20px;
}

h3 {
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:visited h3 {
  color: grey;
}

a:hover h3 {
  color: rgb(94, 87, 87);
}

/* userProfile */

.user-profile {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
}

.username {
  font-size: 3rem;
  margin: 5px;
  padding: 5px;
  color: rgba(26, 24, 24, 0.308);
}

.profile-image {
  image-rendering: auto;
  margin: 5px;
  padding: 5px;
}

.photo-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto; 
  grid-gap: 1em;
}

.photo > img {
  max-width: 100%;
  height: auto;
  image-rendering: auto;
}

.photo {
  display: block;
  border: black solid 1px;
}

.selected-photo {
  display: flex;
}

.selected-photo > img {
   max-width: auto;
    max-height: 100vh;
}

@media (max-width: 480px) {
    .photo-container {
      grid-template-columns: 100%;
      grid-gap: 1em;
    }
}


